ul#train_routes {
    padding: 0;
    margin: 0;
    width: 300px;
}
ul#direction_routes {
    padding: 0;
    margin: 0;
    width: 500px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    background-color: #dddddd;
}
ul#train_routes > li, ul#direction_routes > li {
    list-style-type: none;
    padding: 3px 15px;
    margin: 2px;
}
