ul#train_routes {
    padding: 0;
    margin: 0;
    width: 300px;
}
ul#direction_routes {
    padding: 0;
    margin: 0;
    width: 500px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
.route_station {
    list-style-type: none;
    padding: 5px;
    margin: 2px;
    background-color: #dddddd;
    cursor: move;
}
.route_station_time {
    background-color: #cccccc;
    padding: 2px;
    margin-right: 3px;
    font-weight: bold;
    width: 4em;
    text-align: center;
    vertical-align: middle;
}
#direction_routes .route_station_time {
    width: 0.3em;
}
