{% load admin_static %}
<div style="float: left">
    Станции маршрута
    <ul id="train_routes">
        {% for route_station in route_stations %}
            {% if route_station.position != '' %}
                <li><input type="text" name="{{ name }}" value="{{ route_station.value }}" style="width:100%"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div style="float: left">
    Другие станции направления
    <ul id="direction_routes">
        {% for route_station in route_stations %}
            {% if route_station.position == '' %}
                <li><input type="text" name="{{ name }}" value="{{ route_station.value }}"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div style="clear: both"></div>
<script>
function split_station_args( value ) {
    var split = value.split( '|' );
    return { position: split[0], time: split[1], id: split[2], name: split[3] }
}

function combine_station_args(obj) {
    return obj.position + '|' + obj.time + '|' + obj.id + '|' + obj.name
}

$(function() {
    $( "#train_routes" ).sortable({
        connectWith: "#direction_routes",
        update: function( event, ui ) {
            $( "ul#train_routes > li > input" ).each(function( index ) {
                var station = split_station_args( $( this ).val() );
                station.position = index;
                $( this ).val( combine_station_args(station) );
            });
            $( "ul#direction_routes > li > input" ).each(function( index ) {
                var station = split_station_args( $( this ).val() );
                station.position = '';
                $( this ).val( combine_station_args(station) );
            });
        }
    }).disableSelection();
    $( "#direction_routes" ).sortable({connectWith: "#train_routes"}).disableSelection();
});
</script>

<div style="clear:both"></div>
