{% load admin_static %}
<table>
    <tr>
        <td>
            <ul id="train_routes">
                {% for route_station in route_stations %}
                    {% if route_station.position != '' %}
                        <li><input type="text" name="{{ name }}" value="{{ route_station.value }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul id="direction_routes">
                {% for route_station in route_stations %}
                    {% if route_station.position == '' %}
                        <li><input type="text" name="{{ name }}" value="{{ route_station.value }}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<script>
$(function() {
    $( "#train_routes" ).sortable({connectWith: "#direction_routes"}).disableSelection();
    $( "#direction_routes" ).sortable({connectWith: "#train_routes"}).disableSelection();
});
</script>

<div style="clear:both"></div>
