{% load admin_static %}
<div style="float: left">
    Станции маршрута
    <ul id="train_routes">
        {% for route_station in route_stations %}
            {% if route_station.position != '' %}
                <li><input type="text" name="{{ name }}" value="{{ route_station.value }}" style="width:100%"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div style="float: left">
    Другие станции направления
    <ul id="direction_routes">
        {% for route_station in route_stations %}
            {% if route_station.position == '' %}
                <li><input type="text" name="{{ name }}" value="{{ route_station.value }}"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div style="clear: both"></div>
<script>
$(function() {
    $( "#train_routes" ).sortable({
        connectWith: "#direction_routes",
        update: function( event, ui ) {
            alert('sorted!');
        }
    }).disableSelection();
    $( "#direction_routes" ).sortable({connectWith: "#train_routes"}).disableSelection();
});
</script>

<div style="clear:both"></div>
